#menu-bar{
    display: none;
}
header label {
    float: right;
    margin: 0px 15px 10px 50px;
    cursor: pointer;
    padding: 0px 12px 50px 25px;

}
.menu {
   position: absolute;
   top: 120px;
   left: 0;
   width: 100%;
   height: 100vh;
   background: #000000f6;
    transition: all 0.5s;
   transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #ffffff;
    height: 100px;
    text-decoration: none;
    padding: 35px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.menu a:hover {
    background: 1px solid rgba(255,255,255,0.3);
    background: #FFC700;
}
 #menu-bar:checked ~ .menu{
    transform: translateX(0%);
}