@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat|Righteous');
/* @import url(menu.css); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:  #000000 ! Important;
    color: #fff ! Important;
    min-height: 100vh;
    font-size: 18px ! Important;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h2 {
  display: flex;
}
.botones{
 align-content: center;
}
.contenedor{
    width:100%;
}
header {
    width:100%;    
    position: fixed;
    top: 0;
    left: 0;
}
.contenedor{
    width: 98%;
    margin: auto;
}
i{
  font-size:24px;
  color:#ffffff;
}
/*Templates*/
.conteiner{
  position: sticky;
  padding: 100px 0;
}
/* Primera sección */
.pedidos{
    width: 60%;
    display: grid;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 200px 50px;
  }
/* Segunda sección */
.orden-productos{
  width: 40%;
  background-color: #0f0f0ff6;
  color: #FFFFFF;
  position: absolute;
  height: 149.5%;
  left: 60%;
  top: 5%;
  padding: 2%;
  /* margin: 40px 0px; */
  }
  
  .orden-productos h1, .orden-productos h2, .orden-productos h3{
    margin: 0%
  }
  .orden-productos h1{
    font-size: 30px;
    padding: 28px;
    text-align: center
  }
  .orden-productos h2{
    padding: 10px;
    background-color: #3C3838
  }

  
  /* .numero-orden{
    font-size: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center
  } */
  
  .table-dark {
    color: #fff;
    background-color: #343a40;
    font-size: 20px;
}
/*input*/
.text-field {
  background: transparent;
  border: 0px solid #000;
  /* border-bottom: 3px solid #FFC700; */
  margin-left: 5px;
  color: rgb(143, 250, 250);
  font-size: 35px;
  text-align: -webkit-left;
  /* display: flex; */
  font-size: 35px;
  width: max-content;
  padding: 0px 25px;
}
/*botones*/

.icons{
    width: 50px;
}

/*cantidad y precio de la orden*/
.text-cantidad , .text-precio , .text-total {
    width: 60px;
    height: 60px;
    font-size: 35px;
    text-align: center; 
}
/*menu de desayuno*/
.inline{
    display: inline-block;
}

.title{
    justify-content: center;
}